body {
  color: var(--f-clr);
  background-color: var(--bg);
}

.app {
  & > * {
    /* border: 1px solid red; */
    box-sizing: border-box;
  }
}

.header {
  padding-block: calc(var(--pd-glb-b) * 3) calc(var(--pd-glb-b) * 2);
  padding-inline: var(--pd-glb-i);
}

.about {
  padding-block: var(--pd-glb-b);
  padding-inline: var(--pd-glb-i);
}

.projects {
  padding-block: var(--pd-glb-b);

  & > *:not(.projects__grid) {
    padding-inline: var(--pd-glb-i);
  }
}

.projects__grid {
  padding-block: var(--pd-el-top);
  scroll-snap-type: x mandatory;
  overflow-x: scroll;

  display: grid;
  grid-auto-columns: 70dvw;
  grid-auto-flow: column;
  gap: 1em;

  & > article {
    scroll-snap-align: center;
    box-sizing: border-box;
    /* border: 1px solid green; */
    background-color: var(--bg-light);
  }
}

.footer {
  padding-block: var(--pd-glb-b);
  padding-inline: var(--pd-glb-i);
}

.footer__list {
  margin-block: var(--pd-el-top) 0;
}

.footer__list__link {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
}

@media (max-width: 330px) {
  .footer__list__link {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
