body {
  color: var(--f-clr);
  background-color: var(--bg);
}

.app {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;

  & > * {
    border: 1px solid red;
    box-sizing: border-box;

    min-height: 100dvh;
    scroll-snap-align: start;
  }
}

.portfolio__projects {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;

  display: grid;
  grid-template-columns: repeat(20, minmax(75dvw, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 1em;

  & > * {
    scroll-snap-align: center;
    box-sizing: border-box;
    border: 1px solid green;
  }
}
