@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: var(--ff);
}

h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-b);
  letter-spacing: -0.0625rem;
  color: var(--clr-f-900);
  margin: 0;
}

h2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-b);
  letter-spacing: -0.0625rem;
  color: var(--clr-f-800);
  margin: 0;
  padding-top: var(--pd-el-b);
}

h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-m);
  letter-spacing: -0.0625rem;
  color: var(--clr-f-800);
  margin: 0;
  padding-top: var(--pd-el-b);
}

h4 {
  font-size: var(--fs-4);
  font-weight: var(--fw-m);
  letter-spacing: -0.0625rem;
  color: var(--clr-sec-400);
  margin: 0;
}

p {
  font-size: var(--fs-p);
  font-weight: var(--fw-r);
  line-height: 1.5;
  color: var(--clr-f-400);
  margin: 0;
  padding-top: var(--pd-el-b);
}

a {
  color: var(--clr-prm-400);
  font-weight: var(--fw-r);
  text-decoration: none;
}
