:root {
  /* Font familiew */
  --ff: 'Inter', sans-serif;

  /* Font weights */
  --fw-t: 100;
  --fw-el: 200;
  --fw-l: 300;
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --fw-eb: 800;
  --fw-bl: 900;

  /* Font sizes */
  --fs-1: 2.125rem;
  --fs-2: 1.25rem;
  --fs-3: 1.25rem;
  --fs-4: 1.25rem;
  --fs-p: 1rem;
  --fs-btn: 1.5rem;

  /* Palette */
  --f-clr: hsla(203, 25%, 73%, 1);
  --f-clr-h: hsla(203, 75%, 98%, 1);
  --clr-primary: hsla(203, 75%, 48%, 1);
  --clr-secondary: hsla(145, 97%, 46%, 1);
  --bg: hsla(203, 75%, 10%, 1);
  --bg-light: hsla(203, 75%, 18%, 1);

  /* Paddings */
  --pd-glb-b: 1.5rem;
  --pd-glb-i: 1.5rem;
  --pd-el-top: 0.875rem;

  /* Borders */
  --b: 4px dotted var(--bg);
  --br: 10px;
}
